@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
*::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.sublogin>h1{
    margin-top: 25px;
    font-family: 'Roboto', sans-serif!important;
    font-size: 16px;
    font-weight: 600;
    color: #F93549;
}

.subparentin>p{
    margin-top: 15px;
margin-bottom: 5px;
font-weight: 700;
font-size: 18px;
font-family: 'Montserrat', sans-serif;
color: #F93549;
}
.subparentin>input{
    height: 40px;
border: 1px solid rgb(179, 179, 179);
border-radius: 0px!important;
color: gray;
padding-left: 10px;
width: 100%;
}
.sublogin>h2{
    width: 70%;
    margin-top: 25px;
    font-family: 'Roboto', sans-serif!important;
    font-size: 14px;
    color: rgb(145, 142, 142);
    font-weight: 400;
}
.subparentin>input{

}
.subparentin{
    width: 48%;
}
.parentin{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.sublogin>h3{
    cursor: pointer;
}
.sublogin>button{
    height: 40px;
    border-radius: 5px;
    border: none;
    font-family: 'Roboto', sans-serif!important;
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin-top: 5px;
    background-color: #F93549;

    width: 70%;
}
.sublogin>input{
    width: 70%;
    border-bottom: 2px solid #F93549!important;
    border: none;
}
.login{
    width: 100vw;
    height: 100vh;
    background-color: #F93549;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sublogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    border-radius: 20px;
    min-height: 500px;
    background-color: white;

}
.sublogin{
    padding-top: 35px;
}
.sublogin>img{
    width: 50px;
}